<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">

            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Card title</h2>
                        <ul class="list-unstyled mb-0">
                            <li class="p-2 border-bottom contact" *ngFor="let contact of userList">
                                <a (click)="selectContact(contact)" class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img [src]="contact.avatarUrl" alt="avatar"
                                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                                            width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">{{contact.name}}</p>
                                            <p class="small text-muted">{{contact.lastMessageBody}}</p>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <p class="small text-muted mb-1">{{contact.lastMessagedate|date:'shortTime'}}</p>
                                        <span class="badge bg-danger float-end" *ngIf="contact.unreadCount>0">
                                            {{contact.unreadCount}}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">

                <!--
                {{selectedUser.name}}<br>
                {{stringData}}
                -->



                
                <h1 class="text-center"><span *ngIf="selectedUser.id==0">Select a contact</span>
                <span *ngIf="selectedUser.id>0">Chat with <b>{{selectedUser.name}}</b></span></h1>
                <ul class="list-unstyled" *ngIf="selectedUser.id>0">
                    <div *ngFor="let message of messageList">
                        <li class="d-flex justify-content-end mb-4" *ngIf="message.fromId==myId">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                            class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                            <div class="card  w-75 " >
                                <div class="card-header d-flex justify-content-between p-3" style="background-color:lightgreen;">
                                    <p class="fw-bold mb-0">ME</p>
                                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{message.dateTime}}</p>
                                </div>
                                <div class="card-body">
                                    <p class="mb-0">
                                     {{message.body}}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex justify-content-start mb-4" *ngIf="message.fromId!=myId">
                            
                            <div class="card  w-75 ">
                                <div class="card-header d-flex justify-content-between p-3" style="background-color:lightblue">
                                    <p class="fw-bold mb-0">{{selectedUser.name}}</p>
                                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                                </div>
                                <div class="card-body">
                                    <p class="mb-0">
                                        {{message.body}}
                                    </p>
                                </div>
                            </div>
                            <img [src]="selectedUser.avatarUrl" alt="avatar"
                            class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                        </li>
                    </div>
                   
                    
                   
                    <li class="bg-white mb-3">
                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample2" rows="4"
                            placeholder="Message..."   [(ngModel)] = "messageToSend" ></textarea>
                        </div>
                    </li>
                    <button type="button" class="btn btn-info btn-rounded float-end"
                     (click)="sendMessage();">Send</button>
                </ul>
            

            </div>

        </div>

    </div>
</section>