<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <h1 class="fs-2">Trending Item</h1>
            <div class="underline mx-auto mt-3"></div>
        </div>
    </div>

    <div class="row mt-3 mb-4 button-group filter-button-group" (click)="onButtonGroupClick($event)">
        <div class="col d-flex justify-content-center">
            <button type="button" value="*" class="btn btn-primary mx-1 text-dark active">All</button>
            <button type="button" value="electronic" class="btn btn-primary mx-1 text-dark">Electronic</button>
            <button type="button" value="clothing" class="btn btn-primary mx-1 text-dark">Clothing</button>
            <button type="button" value="furniture" class="btn btn-primary mx-1 text-dark">Furniture</button>

            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort Selection
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="sort(0)">Default</a></li>
                    <li><a class="dropdown-item" (click)="sort(1)">Price ascending</a></li>
                    <li><a class="dropdown-item" (click)="sort(2)">Price descending</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row justify-content-center g-4  " id="product-list">
        <div [class]="p.categoryName" *ngFor="let p of data.list" data-bs-toggle="modal"
            data-bs-target="#exampleModal" (click)="productSelected(p)">
            <div class="product-item">
                <div class="product-img">
                    <img [src]="p.imageUrl" class="img-fluid d-block mx-auto">
                </div>
                <div class="product-content text-center py-3">
                    <span class="d-block text-uppercase fw-bold">{{p.productName}}</span>
                    <span class="d-block">{{p.price|currency}}</span>
                </div>
            </div>
        </div>
      
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Details {{selectedProduct.productName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img [src]="selectedProduct.imageUrl">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning">Save changes</button>
            </div>
        </div>
    </div>
</div>

