<div class="container">
    <h1 class="text-center mt-2">CALCULATOR</h1>
    <div class="row" >
        <div class="col-md-3" >
        </div>
        <div class="col-md-6" >
            <div class="calculator card mb-3">

                <input type="text" class="calculator-screen-mini z-depth-1" value="{{displayMini}}" disabled  [style.font-size.rem]="1" />
                <input type="text" class="calculator-screen z-depth-1" value="{{display}}" disabled  [style.font-size.rem]="displayfontSize" />
              
                <div class="calculator-keys">
              
                  <button type="button" class="operator btn btn-info" value="+">+</button>
                  <button type="button" class="operator btn btn-info" value="-">-</button>
                  <button type="button" class="operator btn btn-info" value="*">&times;</button>
                  <button type="button" class="operator btn btn-info" value="/">&divide;</button>
              
                  <button type="button" value="7" class="btn btn-light waves-effect">7</button>
                  <button type="button" value="8" class="btn btn-light waves-effect">8</button>
                  <button type="button" value="9" class="btn btn-light waves-effect">9</button>
              
              
                  <button type="button" value="4" class="btn btn-light waves-effect">4</button>
                  <button type="button" value="5" class="btn btn-light waves-effect">5</button>
                  <button type="button" value="6" class="btn btn-light waves-effect">6</button>
              
              
                  <button type="button" value="1" class="btn btn-light waves-effect">1</button>
                  <button type="button" value="2" class="btn btn-light waves-effect">2</button>
                  <button type="button" value="3" class="btn btn-light waves-effect">3</button>
              
              
                  <button type="button" value="0" class="btn btn-light waves-effect">0</button>
                  <button type="button" class="decimal function btn btn-secondary" value=".">.</button>
                  <button type="button" class="all-clear function btn btn-danger btn-sm" value="all-clear">AC</button>
              
                  <button type="button" class="equal-sign operator btn btn-light" value="=">=</button>
              
                </div>
              </div>
        </div>
        <div class="col-md-3" >
        </div>
    </div>

</div>